.first-img {
  object-fit: cover;
  position: absolute;
  height: 730px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  right: 0px;
}

.top{
  top: -10px;
}

.contact-button {
  background-color: #98247e;
  border: 2px #98247e solid;
  color: white;
  padding: 0.6em 1em 0.6em 1em;
  display: inline-block;
  max-width: 15rem;
  font-size: 1em;
  border-radius: 25px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.contact-button:hover {
  background-color: white;
  border: 2px solid #98247e;
  color: #98247e;
}

.contact-button:active {
  background-color: #761b63;
  border: 2px solid #761b63;
  color: white;
}

.contact-button:visited {
  background-color: #761b63;
  border: 2px solid #761b63;
  color: white;
}
