@media (min-width: 1000px) {
  .welcome {
    color: white;
    font-size: 3rem;
    position: absolute;
    display: block;
    text-align: right;
    top: 190px;
    right: 8.5vw;
  }
  .header {
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 155px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: all 0.5s ease;
  }
  .first-img {
    overflow: hidden;
  }
  .backing {
    object-fit: cover;
  }
  .logo-white {
    width: 400px;
    align-items: center;
    margin-left: 5vw;
    transition: all 0.5s ease;
  }

  .header-contact {
    background: transparent;
    color: rgb(255, 255, 255);
    margin-right: 10vw;
    font-size: 0.75em;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    padding-bottom: 1px;
    transition: all 0.5s ease;
    text-decoration: none;
  }

  .header-contact::after {
    display: block;
    content: "";
    border-bottom: solid 2px rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-bottom: 3px;
  }

  .header-contact:hover::after {
    transform: scaleX(1);
  }

  .logo-blue {
    width: 300px;
    transition: all 0.5s ease;
  }
  .changed-contact-header {
    color: rgb(195, 195, 195);
    transition: all 0.5s ease;
  }
  .changed-contact-header::after {
    border-bottom: solid 2px #98247e;
  }
  .second-section {
    display: grid;
    height: 730px;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    position: relative;
  }
  .first-section {
    display: flex;
  }
  .first-section-left {
    width: 50vw;
    height: 730px;
    background: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .first-section-left-flex {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 26px;
    width: 30vw;
  }
  .first-section-right {
    width: 50vw;
    height: 730px;
    overflow: hidden;
    position: relative;
  }
  .background-section {
    height: 40vh;
    position: relative;
  }
  .change {
    background-color: white;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    box-shadow: 0 0 15px rgba(77, 77, 77, 0.6);
    transition: all 0.5s ease;
  }
  .backing {
    width: 100%;
    position: relative;
    z-index: -1;
    min-height: 70vh;
    max-height: 70vh;
    overflow: hidden;
  }
  .third-section {
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 730px;
  }
  .third-section-left {
    width: 50vw;
    height: 730px;
    position: relative;
    overflow: hidden;
  }
  .second-img {
    position: absolute;
    width: 100%;
    height: 150%;
  }
  .third-section-right {
    width: 50vw;
    height: 730px;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .contact-form span {
    position: absolute;
    left: 18%;
    padding: 25px;
    color: #98247e;
    text-transform: uppercase;
    transition: 0.5s;
    pointer-events: none;
  }
  .contact-form input {
    width: 30vw;
    padding: 10px;
    border: 1px solid #98247e;
    border-radius: 5px;
    outline: none;
    color: #98247e;
    font-size: 1em;
    transition: 0.5s;
    margin: 1em 1em;
    position: relative;
  }
  .contact-form input:valid ~ span,
  .contact-form input:focus ~ span {
    transform: translateX(30px) translateY(10px);
    font-size: 0.65em;
    padding: 0px 10px;
    background: white;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}
@media (max-width: 1000px) {
  .welcome {
    color: white;
    font-size: 3rem;
    position: absolute;
    display: block;
    text-align: right;
    top: 190px;
    right: 8.5vw;
  }
  .header {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .first-img {
    overflow: hidden;
  }

  .header-contact {
    background: transparent;
    color: rgb(195, 195, 195);
    margin-right: 10vw;
    font-size: 0.75em;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    padding-bottom: 1px;
    transition: all 0.5s ease;
    text-decoration: none;
  }

  .header-contact::after {
    display: block;
    content: "";
    border-bottom: solid 2px #98247e;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-bottom: 3px;
  }

  .header-contact:hover::after {
    transform: scaleX(1);
  }
  .change {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(77, 77, 77, 0.6);
    transition: all 0.5s ease;
  }
  .backing {
    width: 100%;
    position: relative;
    z-index: -1;
    object-fit: cover;
    height: 14em;
  }
  .first-section {
    display: grid;
    grid-template-rows: 730px 730px;
    height: 1460px;
    width: 100vw;
  }
  .first-section-left {
    height: 730px;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12em;
    text-align: center;
  }
  .first-section-left-flex {
    line-height: 40px;
  }
  .first-section-right {
    width: 100vw;
    height: 730px;
  }
  .welcome {
    font-size: calc(1vw + 1.5rem);
  }
  .second-section {
    display: grid;
    width: 100vw;
    height: 1460px;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 730px 730px;
    position: relative;
  }
  .third-section {
    display: grid;
    grid-template-columns: 100vw;
  }
  .third-section-left {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .second-img {
    width: 100%;
    height: 60em;
    object-fit: cover;
  }
  .img {
    height: 730px;
    width: 50vw;
  }
  .logo-blue {
    width: 15em;
    margin-left: 5em;
  }
  .logo-white {
    width: 15em;
    margin-left: 5em;
  }
  .third-section-right {
    width: 100vw;
    height: 730px;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .contact-form span {
    position: absolute;
    left: 33%;
    padding: 25px;
    color: #98247e;
    text-transform: uppercase;
    transition: 0.5s;
    pointer-events: none;
  }
  .contact-form input {
    width: 30vw;
    padding: 10px;
    border: 1px solid #98247e;
    border-radius: 5px;
    outline: none;
    color: #98247e;
    font-size: 1em;
    transition: 0.5s;
    margin: 1em 1em;
    position: relative;
  }
  .contact-form input:valid ~ span,
  .contact-form input:focus ~ span {
    transform: translateX(30px) translateY(10px);
    font-size: 0.65em;
    padding: 0px 10px;
    background: white;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}

@media (max-width: 690px) {
  .welcome {
    color: white;
    font-size: 3rem;
    position: absolute;
    display: block;
    text-align: right;
    top: 185px;
    right: 8.5vw;
    margin-bottom: 100px;
  }
  .logo-blue,
  .logo-white {
    width: calc(30vw + 1rem);
    margin-left: 0.5em;
    margin-right: 1em;
  }
  .header-contact {
    font-size: calc(1vw + 0.5rem);
    font-weight: 300;
    margin-right: 0.5em;
    margin-left: 1em;
    text-decoration: none;
  }
  .change {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(77, 77, 77, 0.6);
    transition: all 0.5s ease;
  }
  .first-img {
    overflow: hidden;
  }
  .backing {
    width: 100%;
    position: relative;
    z-index: -1;
    object-fit: cover;
    height: 14em;
  }
  .first-section {
    display: grid;
    grid-template-rows: 730px;
    height: 730px;
    width: 100vw;
  }
  .first-section-left {
    height: 730px;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
  }
  .first-section-left-flex {
    line-height: 30px;
  }
  .first-section-right {
    width: 0;
    height: 0;
    display: none;
  }
  .welcome {
    font-size: calc(1vw + 1.5rem);
  }
  .second-section {
    display: grid;
    width: 100vw;
    height: 2920px;
    grid-template-columns: 100%;
    grid-template-rows: 730px 730px 730px 730px;
    position: relative;
  }
  .third-section {
    display: grid;
    grid-template-columns: 100vw;
  }
  .third-section-left {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .second-img {
    width: 100%;
    height: 60em;
    object-fit: cover;
  }
  .img {
    height: 730px;
    width: 100vw;
    object-fit: cover;
  }

  .third-section-right {
    width: 100vw;
    height: 730px;
    background: white;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 100px;
  }
  .third-section-left {
    display: none;
  }
  .contact-form span {
    position: absolute;
    font-size: 1em;
    left: 15%;
    padding: 30px 30px 30px 30px;
    color: #98247e;
    text-transform: uppercase;
    transition: 0.5s;
    pointer-events: none;
    margin-bottom: 10px;
  }
  .contact-form input {
    width: 60vw;
    padding: 10px;
    border: 1px solid #98247e;
    border-radius: 5px;
    outline: none;
    color: #98247e;
    font-size: 1em;
    transition: 0.5s;
    margin: 1em 1em;
    position: relative;
  }
  .contact-form input:valid ~ span,
  .contact-form input:focus ~ span {
    transform: translateX(30px) translateY(10px);
    font-size: 0.65em;
    padding: 0px 10px;
    background: white;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}
